@font-face {
    font-family: 'Glyphicons Halflings';
  
    src: url('../contents/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../contents/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

.content{
    margin-top: 56px;
    margin-bottom: 56px;
}

.searchBar{
    margin-left: 10px;
    margin-right: 10px;
}

.searchTitle{
    margin: 5px;
    width: 100%;
    font-size: 35px;
}

.searchForm{
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    size: auto;
}

.button{
    margin: 5px;
}

.mr-right {
    padding-right: 10px;
}

.link{
    display: block;
    float: left;
}

.contentBox{
    align-content: center;
    padding-left: 2%;
    padding-bottom: 2%;
}
.card-listing-item{
    padding: 10px;
    margin: 10px 0 10px 0;
}

.card-body{
    /*height: 10rem;*/
}

.cardrow{
    text-align: center;
    padding-top: 20px;
}

.listing-side{
    padding-top: 20px;
    padding-left: 20px;
}

.navigation{
    padding: 10px;
}

.cardcontent{
    padding: 1%;
    width: 100%;
}

.event{
    text-align: left;
    padding: 10px;
}

.footer{
    background-color: #fdff95;
    padding-top: 1%;
    padding-left: 3%;
}

.eventpresentation{
    padding-top: 60px;
    align-content: center;
    text-align: center;
}

.colouredButton{
    color: #000;
    background-color: #01ffff;
}

.leftsideCol{
    padding-left: 1%;
}

.rightsideCol{
    padding-bottom: 3%;
}

.results{
    padding: 5%;
}

.links{
    padding-top: 15px;
}

.hidden{
    display: none;
}

.sectionTitle{
    font-size: 1.25rem;
    width: 100%;
    margin-top: 20px;
}

.card-image-top{
    width: 10rem;
    margin: auto;
}

.sidebar > .row > .card{
    width: 100%;
}

.sidebar > .row{    
    margin-top: 20px;
}

.search-content-card{
    padding: 1rem;
}

.listing-card{
    margin-top: 20px;
}

.filter-content{
    padding: 1rem;
}

.arrow-card{
    min-height: 100%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    border: 0;
}

.arrow-card:focus{
    background-color: rgb(230, 230, 230);
}

.arrow-col{
    margin: auto;
}

.btn-search{
    margin-top: 10px;
}

.listing{
    margin-top: 20px;
}

.record{
    margin-top: 20px;
}

.btn-about{
    bottom: 0;
    margin: auto;
}

.row-pagination{
    text-align: center;
    width: 100%;
    margin-top: .25rem;
}

.nav-pagination{
    margin: auto;
}

.info-title{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    font-variant-caps: small-caps;
}

.info-container > div{
    margin-top: 10px;
    padding: 5px;
}

.info-container .card-group-item > div{
    padding: 10px;
}

.info-container .card {
    width: 100%;
}

.image-container{
    display: grid;
}

.image-container > img{
    width: 100%;
}

.btn-add-reservation{
    margin-top: 1rem;
    border-color: #555;
    color: #555;
    background-color: #fff;

}

.info-general{
    display: grid;
}

.info-general > a > span{
    color: #555;
}

.info-general > a {
    font-variant-caps: small-caps;
}

.reviews {
    margin-top: 10px;
}

.reviews .card-container {
    padding: 10px;
}

.performer .card-container, .performer-events .card-container {
    padding: 5px 0 5px 0;    
}

.performer .card-container, .performer-events .card-container > .listing-result{
    display: flex;
}

.review-form > .form-group {
    display: flex;
}

.performer-events{
    margin-top: 10px;
}

.related-records, .on-this-day{
    margin-top: 2rem;
}

.related-record-card{
    margin: 0.5rem;
}

.no-records{
    margin: auto;
}

.no-records-p{
    margin: auto;
    color: #888;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 650;
    font-variant-caps: small-caps;
}

.calendar-records > .no-records {
    text-align: center;
}

.block-row {
    display: flex;
    padding: 15px 0;
}

.block-row:not(:last-child){
    border-bottom: 1px #ddd solid;
}

.block-text{
    padding: 10px;    
    margin: auto;
    color: #555;
    font-size: 1rem;
}

.block-title{
    color: #555;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 650;
    font-variant-caps: small-caps;
}

.contact-us, .reservation-info{
    margin: auto;
    border: 1px solid rgba(0,0,0,.125);
}

.title{
    width: 100%;
    margin: auto;
    text-align: center;
}

.contact-form input:not([type='checkbox']), .contact-form textarea, .contact-form .checkbox-input{
    margin: 5px auto;
    width: 80%;
}

.contact-form input[type=submit]{
    margin-top: 10px !important;
}

.contact-us > .subtitle{
    width: 100%;
    text-align: center;
    color: #555;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.contact-form .privacy{
    text-align: center;
    color: #555;
    font-size: 0.75rem;
    font-weight: 400;
}

.reservation-info .par{
    width: 100%;
    color: #555;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.reservation-info{
    padding: 0 10px;
}

.contact-form{
    text-align: center;
    padding: 20px;
    width: 100%;
}

.form-check{
    margin: 15px auto;
}

.month-container{
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.previous-month .next-month{
    margin: auto 5px;
    color: #555;
}

.month{
    color: #555;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 650;
    font-variant-caps: small-caps;
}

.calendar-date{
    color: #555;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-variant-caps: small-caps;
}

.calendar-event{
    color: #666;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-variant-caps: titling-caps;
}

.calendar-record{
    margin: auto;
    width: 100%;
}

.calendar-records{
    margin-left: 20px;
}

.btn-reservation-confirm{
    color: #fff !important;
}

.summary, .reservations{
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.summary-presentation{
    color: #555;
    padding: 10px 0 20px 0;
    font-size: 1.25rem;
    font-weight: 600;
    font-variant-caps: small-caps;
}

.summary-event{
    margin-top: 10px;
    text-align: left;
}

.summary-event span{
    color: #555;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    font-variant-caps: small-caps;
}

.passed-reservations .to-come-reservations{
    color: #666;
    padding: 10px 0 20px 0;
    font-size: 1.25rem;    
    font-variant-caps: small-caps;
}

.passed-reservations{
    font-weight: 550;
}

.to-come-reservations{
    font-weight: 600;
}

.messages{
    padding: 20px;
    margin: auto;
    text-align: center;
}

.messages > .message{
    width: 100%;
    color: #555;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    font-variant-caps: small-caps;
}

.reservations p{
    color: #555;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-variant-caps: small-caps;
}

.reservation-body{
    margin: 10px auto;
}

.reservation-body-date{
    color: #666;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    font-variant-caps: small-caps;
}

.reservation-body-event{
    color: #555;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 650;
    font-variant-caps: small-caps;
}

.nav-info .breadcrumb{
    border: 1px solid rgba(0,0,0,.125);
}

@media only screen and (max-width: 667px){
    .results{
        margin-top: 30px;
    }

    .info-title{
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .block-row{
        display: inline;
    }
}
