@font-face {
    font-family: 'Glyphicons Halflings';
  
    src: url('../contents/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../contents/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('../contents/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

.content{
    margin-top: 56px;
    margin-bottom: 56px;
}

.searchBar{
    margin-left: 10px;
    margin-right: 10px;
}

.searchTitle{
    margin: 5px;
    width: 100%;
    font-size: 35px;
}

.searchForm{
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    size: auto;
}

.button{
    margin: 5px;
}

.mr-right {
    padding-right: 10px;
}

.link{
    display: block;
    float: left;
}

.contentBox{
    align-content: center;
    padding-left: 2%;
    padding-bottom: 2%;
}
.card-listing-item{
    padding: 10px;
    margin: 10px 0 10px 0;
}

.card-body{
    /*height: 10rem;*/
}

.cardrow{
    text-align: center;
    padding-top: 20px;
}

.listing-side{
    padding-top: 20px;
    padding-left: 20px;
}

.navigation{
    padding: 10px;
}

.cardcontent{
    padding: 1%;
    width: 100%;
}

.event{
    text-align: left;
    padding: 10px;
}

.footer{
    background-color: #fdff95;
    padding-top: 1%;
    padding-left: 3%;
}

.bookpresentation{
    padding-top: 60px;
    align-content: center;
    text-align: center;
}

.colouredButton{
    color: #000;
    background-color: #01ffff;
}

.leftsideCol{
    padding-left: 1%;
}

.rightsideCol{
    padding-bottom: 3%;
}

.results{
    padding: 5%;
}

.links{
    padding-top: 15px;
}

.hidden{
    display: none;
}

.sectionTitle{
    font-size: 1.25rem;
    width: 100%;
    margin-top: 20px;
}

.card-image-top{
    width: 10rem;
    margin: auto;
}

.sidebar > .row > .card{
    width: 100%;
}

.sidebar > .row{    
    margin-top: 20px;
}

.search-content-card{
    padding: 1rem;
}

.listing-card{
    margin-top: 20px;
}

.filter-content{
    padding: 1rem;
}

.arrow-card{
    min-height: 100%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    border: 0;
}

.arrow-card:focus{
    background-color: rgb(230, 230, 230);
}

.arrow-col{
    margin: auto;
}

.btn-search{
    margin-top: 10px;
}

.review{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.listing{
    margin-top: 20px;
}

.record{
    margin-top: 20px;
}

.btn-about{
    bottom: 0;
    margin: auto;
}

.row-pagination{
    text-align: center;
    width: 100%;
}

.nav-pagination{
    margin: auto;
}

.info-title{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    font-variant-caps: small-caps;
}

.info-container > div{
    margin-top: 10px;
    padding: 5px;
}

.info-container .card-group-item > div{
    padding: 10px;
}

.info-container .card {
    width: 100%;
}

.image-container{
    display: grid;
}

.image-container > img{
    width: 100%;
}

.btn-add-chart{
    margin: auto;
}

.info-general{
    display: grid;
}

.info-general > a > span{
    color: #555;
}

.info-general > a {
    font-variant-caps: small-caps;
}


